.htmllefond__section, .csslaform__section {
    background-color: #FFFFFF;
}


.csslaform__section-paragrapheh2, .htmllefond__section--paragrapheh2 {
    text-align: center;
    background-color: #FFFFE0;
}

.csslaform__section--titreh2, .htmllefond__section--titreh2 {
    color: #279774;
    font-size: 35px;
    font-weight: 500;

}
.csslaform__section--titreh3 {
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
    text-transform: uppercase;
}

.yellowbold {
    background-color: yellow;
    font-weight: 800;
}
.overline {
    text-decoration: overline;
}
.big {
    font-size: 100px;
}
.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 17px;
    font-weight: 800;
}


.whitebold {
    font-weight: 800;
    font-size: 16px;
}
.black {
    color: #000000;
}


